@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* overflow: hidden; */
    font-family: 'Lato',sans-serif;
}

p{
    line-height: 1.8;
    color: rgb(104, 103, 103);
}
.container{
    max-width: 75%;
    margin: auto;
    /* overflow: hidden; */
}
button{
    cursor: pointer;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.4rem;
}
h5{
    font-size: 0.95rem;
}

.flex{
    display: flex;
}
nav{
    height: 60px;
    align-items: center;
    justify-content: space-between;
    z-index: 100000;
    /* padding: 10px 0; */
}
header {
    
    z-index: 100000;
    position: sticky;
    top: 0px;
    /* padding-top: 15px; */
    background: url('assets/asset 17.png');
    background-size: cover;
    padding: 10px 0px;
    
}
.header-left p{
    color: white;
}
nav a{
    color: white;
}

.company-logo img{
    width: 130px;
}
.nav-left{
    gap: 30px;
    align-items: center;
}
.left-items{
    gap: 30px;
}
.nav-right{
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.getQuote button{
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 0.93rem;
    font-weight: bold;
    background-color: white;
    color: #1089ff;
    transition: 0.3s ease-in-out;
    
}
.getQuote button:hover{
    background-color: black;
    color: white;
}
.nav-right-letsTalk{
    font-weight: bold; 
}
.nav-right-letsTalk a{
    transition: 0.3s ease-in-out;
}
.nav-right-letsTalk a:hover{
    color: black;
}
.wallpaper{
    background: url('assets/asset 17.png');
    height: auto;
    width: 100%;
    background-size: cover;
    padding-bottom: 20px;
    position: relative;
    top: 0px;
    padding-bottom: 160px;
}
.header-left{
    width: 40%;
    height: auto;
    color: white;
    
}

.bottom-header{
    justify-content: space-between;
}
.heading{
    padding: 120px 50px 0 0;
    margin-bottom: 30px;
}
.header-right img{
    /* width: 450px; */
    width: 100%;
    height: 100%;
    /* position: absolute; */
    /* bottom: 90px;
    left: 10px; */
    
}
.header-right{
    transform: rotate(-10deg);
    height: 530px;
    width: 445px;
    position: absolute;
    top: 0%;
    right: 14%;
    
    
}
.header-left p{
    line-height: 2;
}

.get-started-btn{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: rgba(52, 51, 51, 0.823);
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    align-content: center;
    margin-top: 30px;
    transition: 0.4s ease-in-out;
}
.get-started-btn:hover{
    color: black;
    background-color: white;
}

.fa{
    position: relative;
    top: 2px;
    left: 12px;
}

.section1{
    margin-block: 100px;
    text-align: center;
}
.para{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 60%;
    margin: auto;
}

.card-items{
    width: 225px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.card-items img{
    width: 110px;
    opacity: 0.4;
    margin-block: 15px;
}
.card-box{
    justify-content: space-evenly;
    margin-block: 60px;
    align-items: baseline;
    gap: 20px;
    flex-wrap: wrap;

}

.section2{
    color: white;
    background-color: #19202c;
    padding: 80px 0;
}

.box img{
    width: 50px;
    opacity: 0.5;
    /* background-color: white; */
}
.img-container{
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.sec2-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 10px;
    padding: 10px;
}

.box{
    max-height: 640px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding-top: 20px;
}
.box:hover{
    background-color: #2b3139;
}
.sec2-top{
    margin: auto;
    text-align: center;
    width: 45%;
    margin-bottom: 80px;
}
.sec2-top h3{
    margin-bottom: 20px;
}

.section2 p{
    color: rgb(178, 178, 178);
}

.section3{
    margin: 100px 0;
}
.sec3-top{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 70px;
}
.sec3-bottom{
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.percent{
    display: flex;
    flex-direction: column;
    text-align:center;
    /* min-width: 290px; */
}
.percent h1{
    margin-bottom: 20px;
    color: #1089ff;
}
.sec4-left{
    width: 40%;
}
.sec4-left img{
    width: 100%;
}
.sec4-right{
    width: 35%;
}
.s01, .s02, .s03{
    margin-block: 35px;
    gap: 15px;
}
.num{
    opacity: 0.15;

}
.topper h3{
    margin-bottom: 20px;
    font-size: 1.9rem;
}
.section4{
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 150px;
}


.burger{
    color: white;
    display: none;
}

.icon{
    position: absolute;
    width: 130px;
    display: none;
    top: 31%;
    left: 12.5%;
}

.sidebar{
    display: none;
}
.side-items{
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.side-items a{
    color: black;
}
.section5{
    margin-block: 160px;
}
.payment-section{
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 60px;

}
.sec5-intro{
    text-align: center;
}

.payLite,.payPro{
    width: 40%;
    /* border: 2px solid red; */
    height: auto;
    border-radius: 12px;
}
.payLite{
    border-bottom: 3px solid rgba(128, 128, 128, 0.105);
}
.payLite, .payPro{
    padding: 40px 35px 20px;
}
.lite-header, .pro-header{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.price h3, .proPrice h3{
    font-size: 2rem;
}
.price, .proPrice{
    text-align: end;
}
.main-list-left ul li, .main-list-right ul li{
    margin-block: 20px;
    
}
.main-list-left h4, .main-list-right h4{
    margin-bottom: 35px;
}
.main-list-left ul li i, .main-list-right ul li i{
    margin-right: 15px;
}
.plbtn{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #1089ff;
    color: white;
    border: none;
    margin-block: 30px;
    transition: 0.3s ease-in-out;
    
}
.ppbtn{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    color: #1089ff;
    border: none;
    margin-block: 30px;
    transition: 0.3s ease-in-out;
}
.plbtn:hover{
    background-color: rgba(0, 0, 0, 0.850);
}
.ppbtn:hover{
    background-color: rgba(0, 0, 0, 0.850);
    color: white;
}
.payPro{
    background-color: #1089ff;
    color: white;
}
.payPro p{
    color: white;
}

.sec6-header{
    text-align: center;
    margin-bottom: 50px;
}
.sec6-header h3{
    margin-bottom: 20px;
}

.sec6-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 30px;

}
.section6 h4{
    margin-bottom: 15px;
}

hr{
    margin-top: 10px;
    opacity: 0.1;
}

.section6-bg{
    background-color: #f3f7fb;
    padding-block: 100px;
}
.foot-top{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.contact-us-btn{
    width: 180px;
    height: 60px;
    background-color: #1089ff;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.contact-us-btn:hover{
    background-color: rgba(0, 0, 0, 0.837);
}
.foot-bottom{
    justify-content: space-between;
    margin-top:40px ;
    padding-bottom: 40px;
}
.com-logo img{
    width: 130px;
}
.hr{
    opacity: 0.4;
}
footer{
    background-color: #f3f7fb;
}
.foot-span{
    color:rgb(104, 103, 103);
}
footer h2{
    font-size: 1.9rem;
    margin-bottom: 20px;
}
footer p{
    font-size: 1.15rem;
}